.fund-wrapper {
  position: absolute;
  top: 158px;
  left: 696px;
  width: 280px;
}

.fund-input-block {
  margin-top: 16px;
}

.fund-help {
  margin-top: 10px;
}

.fund-actions-block {
  margin-top: 10px;
  .app-button{
    min-width: 130px;
  }
}
