$colorBorder: #EBEBEB;
$colorPrimary: #1DBC2C;
$colorAccent: #ED5F41;
$colorLink: #4AADC5;
$colorBackgroundTooltip: #424242;
$colorTooltip: #EDEDED;
$colorBackgroundButton: #FAFAFA;

$colorFontPrimary: #A2A2A2;
